
subjects/Herramientas de desarrollo/.obsidian/workspace.json
subjects/Microcontrollers2/Demos/ADC/build
subjects/Microcontrollers2/Demos/GPIO/build
subjects/Microcontrollers2/Demos/GPIO_Interrupt/build
subjects/Microcontrollers2/Demos/PWM_LED/build
subjects/Microcontrollers2/Demos/RTC/build
subjects/Microcontrollers2/Demos/Timer/build
subjects/Microcontrollers2/Demos/UART/build